<div class="posts text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Posted by {{user.name}} on {{format_date date_created}}</p>

  {{#if logged_in}}
  <form class="form comment_form">
    <div>
        <textarea class="form-input" id="body" name="body"></textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </div>
  </form>
  {{/if}}

  <h3>Comments</h3>
  <div class="comments">
    {{#each comments }}
    <div class="container">
    <section class="comment">
        <div class="name">
            {{user.name}} 
        </div>
        <div class="text">
            {{text}}
        </div>
    </section>
    </div>
    {{/each}}
</div>
</div>


{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}